<div class="hero-unit">

	<h1>Cool. We'll let people know what you want 2 weeks before your b-day!</h1>
	
	<p>Want to send a sample email to yourself?</p>
	<% if user_signed_in? %>
		<a href="#" id="sampleEmailButton" class="btn btn-success">Send Sample Email</a>
	<% end %>
</div>