
<% if flash[:success] != nil %>
	<p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<h1><%= @welcome %></h1>


<% if user_signed_in? %>
	<%= form_tag("/sample", method: "post") do %>
		  <%= submit_tag "Send Sample Email", :class => "btn btn-primary" %>
	<% end %>
<% end %>