<div class="hero-unit">
	<h1>Get Awesome Birthday Presents!</h1>
	<p>Gifted taps into your <a href="http://www.svpply.com">Svpply</a> account, checks to see if any of your 'wants' are for sale on <a href="http://www.zappos.com">Zappos.com</a>, and sends your friends and family an email full of gift ideas 2 weeks before your birthday.</p>

<p>Want to send a sample email to yourself?</p>
	<% if user_signed_in? %>
		<a href="#" id="sampleEmailButton" class="btn btn-success">Send Sample Email</a>
	<% else %>
		<%= link_to "Sign In", :new_user_session, {:class => "btn btn-primary"}  %>
		<%= link_to "Register", :new_user_registration, {:class => "btn btn-info"} %>
	<% end %>

</div>
